a {
	text-transform: normal;
	text-decoration: none;
}
audio {
	margin-left: 300px;
	margin-right: 300px;
}
body {
	margin: 0px;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
div {
	display: block;
}
h1 {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 2.2em;
	margin-bottom: 5px;
}
h2 {
	text-shadow: -2px 2px red;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
}
h4 {
	margin: 0px;
}
img {
	vertical-align: middle;
	opacity: 0.95;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
img.rotate {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
p {
	text-shadow: -1px 1px red;
	text-transform: uppercase;
	font-size: 1.4em;
	color: #ffffff;
	text-align: center;
	opacity: 1;
}
ul {
	padding: 0px 0px 0px 0px;
}
video {
    display: inline-block;
    vertical-align: baseline;
	object-fit: contain;
}
.avatar {
	display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5em red;
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
	opacity: 0.75;
}
.bar {
	background-color: #a00000;
	padding-top: 14px;
	padding-bottom: 14px;
}
.burder {
	background-color: #161616;
	border-left: 5px solid red;
}
.burder2 {
	background-color: #161616;
	border-left: 5px solid red;
	border-right: 5px solid red;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footeravi {
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
}
.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.gallary {
	max-width: 400px;
	border: 2px solid #4f4f4f;
	margin: 5px;
}
.insidebar {
	margin-left: 160px;
}
.jfc {
    display: none;
}
.lefted {
	text-align: left;
	padding-left: 10px;
}
.link {
	max-width: 27em;
	opacity: 0.75;
}
.main {
	box-shadow: 0 0 0 1.5em red;
	position: relative;
    max-width: 100%;
    min-width: 27em;
    background: #000;
    border-radius: 40px;
    cursor: default;
    opacity: 0.75;
    text-align: center;
	padding-top: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
	margin-bottom: 0px;
}
.mainpart {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	width: 1000px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.profiles {
	max-width: 375px;
	margin-right: 8px;
	border-radius: 0%;
    border: 2px solid red;
}
.profiles2 {
	border-radius: 50%
}
.righttext{
	display: inline-block;
}
.space {
	padding-top: 100px;
}
.space2 {
	padding-top: 50px;
}
.space3 {
	padding-top: 25px;
}
.start {
	padding: 0px 15px 0px 15px;
    text-align: center;
}
.text {
	text-align: left;
}
#archive {
	text-decoration: underline;
	color: white;
}
#credittext {
	font-size: 24px;
}
#discordtextleft {
	display: inline-block;
	margin-right: 40px;
}
#discordtextright {
	display: inline-block;
	margin-left: 40px;
}
#discordtitleleft {
	font-size: 2em;
}
#discordtitleright {
	font-size: 2em;
}
#foot {
	text-shadow: 0px 0px white;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	background-color: #ffffff;
	margin: 0;
	letter-spacing: 0.4em;
}
#footerdiv {
	margin: auto;
	display: block;
	text-align: center;
}
#github {
	max-width: 100%;
}
#hi {
	margin: 0 auto;
	border-radius: 15%;
	max-width: 75px;
    max-height: 75px;
	height: auto;
    width: auto;
}
#h2 {
	color: #ffffff;
	font-weight: 10;
	font-size: 44px;
}
#linkhead {
	width: 870px;
}
#music {
	opacity: 0;
}
#nametitle {
	text-shadow: -2px 2px red;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 3em;
	color: #ffffff;
}
#refresh {
	width: 50px;
	margin: 5px;
}
#text {
	font-family: sans-serif;
	letter-spacing: 0.2em;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 3px;
	margin-bottom: 3px;
}
#text2 {
	font-family: sans-serif;
	letter-spacing: 0.2em;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 3px;
	margin-bottom: 3px;
}
#thotpatrol {
	width: 200px;
	display: inline-block;
	border: 2px solid red;
	border-radius: 5%;
}
#thotpatroldiv {
	display: inline-block;
	margin: 0px 32px 0px 32px;
	padding: 15px 32px 15px 32px;
	border: 5px solid red;
	background-color: #2d0000;
}
#t44 {
	width: 200px;
	display: inline-block;
	border: 2px solid red;
	border-radius: 5%;
}
#t44div {
	display: inline-block;
	margin: 0px 32px 0px 32px;
	padding: 15px 32px 15px 32px;
	border: 5px solid red;
	background-color: #2d0000;
}
#vidcredit {
	background-color: #222222;
	padding: 11px;
	position: absolute;
	top: 9%;
	left: 85%;
	border-bottom: 5px solid red;
}
/*Fix for video on different width screens*/
@media screen and (max-width: 992px) {
	.profiles2 {
		display: none;
	}
	#refresh {
		display: none;
	}
}
@media screen and (max-width: 1354px) {
	.fullscreen-bg__video {
		width: 110%;
	}
}
@media screen and (max-width: 1344px) {
	.fullscreen-bg__video {
		width: 115%;
	}
}
@media screen and (max-width: 1228px) {
	.fullscreen-bg__video {
		width: 117%;
	}
}
@media screen and (max-width: 1193px) {
	.fullscreen-bg__video {
		width: 120%;
	}
}
@media screen and (max-width: 1128px) {
	.fullscreen-bg__video {
		width: 130%;
	}
}
@media screen and (max-width: 1080px) {
	.fullscreen-bg__video {
		width: 140%;
	}
}
@media screen and (max-width: 963px) {
	.fullscreen-bg__video {
		width: 150%;
	}
}
@media screen and (max-width: 897px) {
	.fullscreen-bg__video {
		width: 160%;
	}
}
@media screen and (max-width: 820px) {
	.fullscreen-bg__video {
		width: 210%;
	}
}
@media screen and (max-width: 790px) {
	.fullscreen-bg__video {
		width: 290%;
	}
}
@media screen and (max-width: 510px) {
	.fullscreen-bg__video {
		width: 390%;
	}
}
@media screen and (max-width: 360px) {
	.fullscreen-bg__video {
		width: 500%;
	}
}
@media screen and (max-width: 290px) {
	.fullscreen-bg__video {
		width: 600%;
	}
}
/* Eyes Emoji */
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway.ttf);
}